<nav>
  <a href="/agregar-productos">Agregar productos</a><br/>
  <a href="/catalogo">Ver catalogo</a><br/>
  <a href="/agregar-venta">Agregar venta</a><br>
  <a href="/movimientos">Movimientos</a>
</nav>
