<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Agregar venta</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var lineasDeVenta = [];
    </script>
    <script type="text/javascript">
      function agregarLineaDeVenta() {
        var socket = io.connect('http://localhost:3000');
        socket.emit('obtenerProducto', {
          _id: document.getElementById("lista-productos").value
        });
        socket.on('obtenerProducto', function(data){
          var precioProducto = Intl.NumberFormat('es-US',{
              style: 'currency',
              currency: 'USD',
              minimumFractionDigits: '2',
              maximumFractionDigits: '2',
              minimumIntegerDigits: '1'
            });   
          var tabla = document.getElementById("tablaLineasDeVenta");
          var lineaDeVenta = {
            cantidad: document.getElementById("cantidad").value,
            idProducto: document.getElementById("lista-productos").value,
            nombre: data.nombre,
            precioUnitario: data.precioUnitario
          };
          lineasDeVenta.push( lineaDeVenta );
          var html = `<thead>
                          <tr>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio Unitario</th>
                            <th>Total de línea</th>
                          </tr>
                        </thead>
                        <tbody>`;
          for (var i = 0; i < lineasDeVenta.length; i++) {
            html += `<tr>
                      <td>${lineasDeVenta[i].cantidad}</td>
                      <td>${lineasDeVenta[i].nombre}</td>
                      <td>${precioProducto.format(lineasDeVenta[i].precioUnitario)}</td>
                      <td>${precioProducto.format(lineasDeVenta[i].cantidad * lineasDeVenta[i].precioUnitario)}</td>
                    </tr>`;
          }
          html += '</tbody>'
          tabla.innerHTML = html;
          calcularTotal(lineasDeVenta);
        });
      }
    </script>
    <script type="text/javascript">
      function guardarVenta(){
        if(lineasDeVenta.length !== 0){
          // información validada
          var socket = io.connect('http://localhost:3000');
          var fecha = document.getElementById("fechaDeVenta").value;
          var numFact = document.getElementById("numFact").value;
          var venta = {
            fecha,
            numFact,
            lineasDeVenta
          };
          var info = JSON.stringify(venta, undefined, 2);
          socket.emit('guardar-venta', info);
          alert('Venta guardada');
        }
        else{
          alert('Debe de agregar un producto a la venta');
        }
        limpiarFormulario();
        lineasDeVenta = [];
        lineasDeVenta.length = 0;
      }
    </script>
    <script type="text/javascript">
      function limpiarFormulario(){
        document.getElementById("fechaDeVenta").value = 'dd/mm/aaaa';
        document.getElementById("numFact").value = '';
        document.getElementById("tablaLineasDeVenta").innerHTML = ""+
                      "<thead>"
                      +  "<tr>"
                      +    "<th>Cantidad</th>"
                      +    "<th>Descripción</th>"
                      +    "<th>Precio Unitario</th>"
                      +    "<th>Total de línea</th>"
                      +  "</tr>"
                      +"</thead>";
        document.getElementById('ventaTotal').innerHTML = '$0.00';
      }
    </script>
    <script type="text/javascript">
      function calcularTotal(lineasDeVenta){
        var ventaTotalElement = document.getElementById('ventaTotal');
        var ventaTotal = 0;
        var precioProd = Intl.NumberFormat('es-US',{
              style: 'currency',
              currency: 'USD',
              minimumFractionDigits: '2',
              maximumFractionDigits: '2',
              minimumIntegerDigits: '1'
            });  
        for(var i = 0; i < lineasDeVenta.length; i++){
          ventaTotal += lineasDeVenta[i].cantidad * lineasDeVenta[i].precioUnitario;
        }
        ventaTotalElement.innerHTML = precioProd.format(ventaTotal);
      }
    </script>
  </head>
  <body>
    {{> nav}}
    <form>
      <br>
      <label for="fechaDeVenta">Fecha: </label>
      <input type="date" id="fechaDeVenta" name="fechaDeVenta">
      <label for="numFact">No. de factura</label>
      <input type="number" id="numFact" name="numFact">
      <br>
      <br>
      <input type="number" name="cantidad" id="cantidad" value="1" placeholder="cantidad">
      <select id="lista-productos" name="idProducto">
      </select>
      <input type="button" name="agregar" id="guardar" value="Agregar" onclick="agregarLineaDeVenta();">
      <br/>
      <br/>
      <table id="tablaLineasDeVenta" border="1">
        <thead>
          <tr>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Total de línea</th>
          </tr>
        </thead>
      </table>
      <br/>
      <label for="ventaTotal">Venta total: </label>
      <label id="ventaTotal">$0.00</label><br><br>
      <input type="button" id="btnEnviar" value="Guardar" onclick="guardarVenta();">
    </form>
    <script type="text/javascript">
      var socket = io.connect('http://localhost:3000', {'forceNew': true});
      var listaProductos = document.getElementById("lista-productos");

      socket.on('venta-producto', (data) => {
        listaProductos.length = data.length;
        for (var i = 0; i < listaProductos.length; i++) {
          listaProductos.options[i] = new Option(data[i].nombre,data[i]._id);
        }
      });
    </script>
  </body>
</html>
